<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title> <%= title %> </title>
</head>
<body>
    <div class="main">
        <div>
            <strong class="loginTitle">
                login with Clever
            </strong>  
        </div>
        <div class="create">
            <form action="/login/form" method="POST" >
                <div class="info">
                    <div class="email">
                        <label for="email">
                            Enter your email
                            <br>
                            <input type="email" name="email" placeholder="email..." id="email">
                        </label>
                    </div>
                    <div class="password">
                        <label for="password">
                            Enter your password
                            <br>
                            <input type="password" name="password" placeholder="password..." id="password">
                        </label>
                    </div> 
                </div>
                <a href="/register">No account? register</a>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>