.mainForRegister {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mainForRegister .registerTitle {
    font-weight: bolder;
    font-size: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    margin-block-start: 1rem;
    width: 152px
}